/**
 * Site header
 */

.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

    // Home
.site-title {
    font-size: 35px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: $headerFont;
    font-weight: bold;
    letter-spacing: 3px;
    &,
    &:visited {
        color:#202120;
    }

    &:hover {
        // Hover effect on home
    }

}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    // (About me & about Länkarna)
    .page-link {
        color: #202120;
        line-height: $base-line-height;
        font-family: $headerFont;
        font-weight: bold;
        font-size: 26px;
        padding: 11px;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

#disqus_thread {
    background-color: rgba(51, 46, 46, 0.8);
    padding:3px;
    border-radius: 10px;
}

/**
 * Site footer
 */
.site-footer {
    position: relative;
    clear: both;


    /**
    * För sidan ska bli scroll igen
    padding: $spacing-unit 0;
    */
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: #202120;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}


.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    min-height: 100%;
    padding: $spacing-unit 0;
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(51, 46, 46, 0.7);
    border-radius: 15px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: #33bada;
}



.post-link {
    display: block;
    font-size: 24px;

}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}



.post-title {
    font-size: 52px;
    letter-spacing: 2px;
    line-height: 1;
    font-family: Comfortaa, monospace;
    color:#fff;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.postHeader {
    float: left;
    margin-right: 25px;
    margin-left: 5px;
    font-family: Comfortaa, monospace;
    padding: 4px;
    transition: all ease 0.3s;

    &:hover {
        border-top: solid 3px #326e26 ;

    }


}



.postHeaderLink {
    &:visited {
        color:#202120  ;
     }


}


.post-content {
    margin-bottom: $spacing-unit;

    h1 {
      color: #fc9000;
      font-family: Comfortaa, monospace;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    p {
        color: rgb(255, 255, 255);
        font-family: tahoma;
    }
}
